body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px;
  gap: 50px;
}

.container .pdf {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  position: relative;
}

.container .pdf .annotations {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.container .left {
  height: 44vh;
}

.container .content {
  overflow-y: scroll;
}

ul.dash {
  list-style-type: none;
  margin-left: 0;
  padding-left: 1em;
}

ul.dash > li:before {
  display: inline-block;
  content: '-';
  width: 1em;
  margin-left: -1em;
}

button {
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

button.title.heading-btn {
  margin-right: 20px;
}

button.title {
  background-color: rgba(255, 68, 0, 0.728);
}

button.title:hover {
  background-color: rgba(231, 103, 57, 0.728);
}

button.title:active {
  background-color: rgb(255, 68, 0);
}

button.title:disabled, :disabled:hover, :disabled:active {
  background-color: rgba(255, 68, 0, 0.728);
}

button.title-active {
  background-color: rgb(255, 68, 0);
  border: solid 2px rgb(148, 39, 0);
}

button.title-active:hover {
  background-color: rgba(231, 103, 57, 0.728);
}

button.author.heading-btn {
  margin-left: 20px;
}

button.author {
  background-color: rgba(0, 128, 0, 0.71);
}

button.author:hover {
  background-color: rgba(49, 166, 49, 0.71);
}

button.author:active {
  background-color: rgb(0, 128, 0);
}

button.author:disabled, :disabled:hover, :disabled:active {
  background-color: rgba(0, 128, 0, 0.71);
}

button.author-active {
  background-color: rgb(0, 128, 0);
  border: solid 2px rgb(0, 70, 0);
}

button.author-active:hover {
  background-color: rgba(49, 166, 49, 0.71);
}

.annotations-title {
  display: inline-block;
}

button.reset {
  margin-left: 25px;
  background-color: rgb(139, 139, 139);
}

button.reset:hover {
  background-color: rgb(193, 193, 193);
}

button.reset:active {
  background-color: rgb(109, 109, 109);
}

button.reset:disabled, :disabled:hover, :disabled:active {
  background-color: rgb(193, 193, 193);
}

.row-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.row-container:last-child {
  margin-bottom: 0;
}

.row-btn {
  margin-left: 10px;
  margin-right: 10px;
}

.row-btn:disabled {
  color: black;
}

.row-img {
  height: 30px;
  cursor: pointer;
}